  <header class="navbar bg-dark d-flex flex-row">
        <h1 class="text-light ms-2">Indumentaria capitan</h1>
       <a href="" id="cartLink"><svg xmlns="http://www.w3.org/2000/svg" width="30" id="cartIcon" height="30" fill="#fff" class="bi bi-cart me-2" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a> 
    
</header>
<div class="container-fluid ">
    
{{#each producto.docs}}
<div class="producto mt-5 ">
    <div class="row">
        <a class="w-25 h-25" href="/products"><i class="bi bi-arrow-left w-25 h-25" ></i></a>
    </div>
    <div class="row">
        <div class="col">
            <img src={{this.thumbnail}} class="img-thumbnail"  >
        </div>
        <div class="col">
            
            <h1 >{{this.title}}</h1>
            <div class="row">
        <div class="col">

            <p >Descripcion del producto: {{this.description}}</p>
            <h5>Id del producto: {{this.id}}</h5>
            <h5>Codigo: {{this.code}}</h5>
            </div>
            <div class="col">

             <h3>Precio: <span class="text-danger">${{this.price}}</span></h3>
             <h3>Stock: {{this.stock}}</h3>
            </div>
            </div>
            
        </div>
     </div>
    <div class="row">
        <button data-idProd={{this.id}}  id="comprarBtn" class="btn btn-primary">Comprar</button>
    </div> 
    {{/each}}
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/productDetail.js"></script>
