  <header class="navbar bg-dark d-flex flex-row">
        <a href="/"><h1 class="text-light ms-2">Indumentaria capitan</h1></a>
       <a href="" class="text-decoration-none d-flex flex-column justify-center mb-0 "  id="cartLink"><svg xmlns="http://www.w3.org/2000/svg" width="30" id="cartIcon" height="30" fill="#fff" class="bi bi-cart me-2" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg>
        <i class="bi bi-dot text-danger text-end mt-0 fs-4 " id="cartExistIcon"></i>
      </a> 
    
</header>
<div class="container-fluid">
    <div class="row">
      
    <h2 class="display-5">Productos</h2>
<div id="productList" class="col-md flex flex-row flex-wrap">
    <table class="table table-dark">
  <thead>
    <tr>
      
      <th scope="col">ID</th>
      <th scope="col">Titulo</th>
      
      <th scope="col">Precio</th>
      
      <th scope="col">Stock</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
      <th scope="col">Thumbnail</th>
    </tr>
  </thead>
  <tbody>
    
  {{#each productos.docs}}

    <tr>
      <td>{{this._id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
      <td><a href="http://localhost:5000/products/{{this.id}}" class="btn btn-primary">Ver más info</a></td>
      <td><img src={{this.thumbnail}} height="100px" width="100px" ></td>

    </tr>

  {{/each}}
</tbody>
</table>        
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/products?limit={{productos.limit}}&page={{productos.prevPage}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{productos.page}}</a></li>
    <li class="page-item"><a class="page-link" href="/products?limit={{productos.limit}}&page={{productos.totalPages}}">{{productos.totalPages}}</a></li>
    <li class="page-item">
      <a class="page-link" href="/products?limit={{productos.limit}}&page={{productos.nextPage}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<div class="row flex flex-col align-center justify-center">
    <h2 class="display-5">Control de base de datos</h2>
    <p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Subir producto</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Actualizar producto</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Eliminar producto</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
    <h4 class="display-6 mb-3">Subir producto</h4>
     <form id="newProductForm" >
  <div class="mb-3">
    <label for="titleInput" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="titleInput" required>
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Description</label>
    <input type="text" name="description" class="form-control" id="descriptionInput" required>
  </div>

  <div class="mb-3">
    <label for="codeInput" class="form-label">code</label>
    <input type="text" name="code" class="form-control" id="codeInput" required>
  </div>
  <div class="mb-3">
    <label for="priceInput" class="form-label">price</label>
    <input type="number" name="price" class="form-control" id="priceInput" required>
  </div>
    <div class="mb-3">
    <label for="categoryInput" class="form-label">Category</label>
    <input type="text" name="category" class="form-control" id="categoryInput" required>
  </div>
  <div class="mb-3">
    <label for="stockInput" class="form-label">Stock</label>
    <input type="number" name="stock" class="form-control" id="stockInput" required>
  </div>
    <div class="mb-3">
    <label for="imageInput" class="form-label">Image link</label>
    <input type="text" name="imgLink" class="form-control" id="imageInput">
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status </label>
    <select id="status" name="status" class="form-select" aria-label="Default select example" required>
        <option value=true>Active</option>
        <option value=false>disabled</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <h4 class="display-6">Actualizar producto</h4>
           <form id="updateProductForm">
            <div class="mb-3">
                <label for="idInput" class="form-label">product ID</label>
                <input type="text" name="idProd" class="form-control" id="idInput" required>
            </div>
            <div class="mb-3">
                <label for="titleInput" class="form-label">Title</label>
                <input type="text" name="updateTitle" class="form-control" id="titleInput" >
            </div>
            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description</label>
                <input type="text" name="updateDescription" class="form-control" id="descriptionInput">
            </div>

            <div class="mb-3">
                <label for="codeInput" class="form-label">code</label>
                <input type="text" name="updateCode" class="form-control" id="codeInput" >
            </div>
            <div class="mb-3">
                <label for="priceInput" class="form-label">price</label>
                <input type="number" name="updatePrice" class="form-control" id="priceInput">
            </div>
                <div class="mb-3">
                <label for="categoryInput" class="form-label">Category</label>
                <input type="text" name="updateCategory" class="form-control" id="categoryInput">
            </div>
            <div class="mb-3">
                <label for="stockInput" class="form-label">Stock</label>
                <input type="number" name="updateStock" class="form-control" id="stockInput">
            </div>
                <div class="mb-3">
                <label for="imageInput" class="form-label">Image link</label>
                <input type="text" name="updateImgLink" class="form-control" id="imageInput">
            </div>
            <div class="mb-3">
                <label for="status" name="updateStatus" class="form-label">Status </label>
                <select id="status" name="updateStatus"class="form-select" aria-label="Default select example">
                    <option value=true>Active</option>
                    <option value=false>disabled</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
  </div>
</div>
    <div class="row">
        <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <h4 class="display-6">Eliminar un producto</h4>
            <form id="deleteProdForm">
                <div class="mb-3">
                    <label for="productIdInput" class="form-label">product ID</label>
                    <input type="text"name="deleteProdId" class="form-control" id="productIdInput" required>
                </div>

                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
        </div>

    </div>
</div>
</div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>
